body {
  font-family: "Helvetica", "Arial", sans-serif;
  text-rendering: optimizeLegibility;
  max-width: 100%;
  width: 800px;
  margin: 0 auto;
  padding: 0;
}

ul > li {
  padding: 0 0 10px 0;
}

blockquote {
  padding: 0 20px;
  margin: 0;
  border-left: 2px solid gray;
}

.main {
  padding: 40px;
}

#top > h1,
#top > p {
  margin: 0;
}

.textbox {
  background: #eeeeee;
  padding: 8px;
  margin: 0;
  border-radius: 4px;
}

.textbox * {
  margin: 0;
}

.footer {
  text-align: center;
}